In [ ]:
import pandas as pd
df = pd.read_csv("Netflix_TV_Shows_and_Movies.csv")
df.shape

(5283, 11)

In [4]:
imdb_value = "tt13567480"   # replace with desired IMDb ID
filtered_df = df[df["imdb_id"] == imdb_value]
filtered_df

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
3427,3427,tm981451,Death to 2020,MOVIE,2020: A year so [insert adjective of choice he...,2020,NaN,71,tt13567480,6.8,38301.0

In [8]:
min_year = df["release_year"].min()
max_year = df["release_year"].max()

print(f"Release year range: {min_year} to {max_year}")

Release year range: 1953 to 2022

In [1]:
#unique_ids = sorted(df["imdb_id"].unique())
#print(unique_ids)

In [16]:
print(df.shape)
print(df.columns)
print(df.head(3))

(5283, 11)
Index(['index', 'id', 'title', 'type', 'description', 'release_year',
       'age_certification', 'runtime', 'imdb_id', 'imdb_score', 'imdb_votes'],
      dtype='object')
   index        id                            title   type  \
0      0   tm84618                      Taxi Driver  MOVIE
1      1  tm127384  Monty Python and the Holy Grail  MOVIE
2      2   tm70993                    Life of Brian  MOVIE

                                         description  release_year  \
0  A mentally unstable Vietnam War veteran works ...          1976
1  King Arthur, accompanied by his squire, recrui...          1975
2  Brian Cohen is an average young Jewish man, bu...          1979

  age_certification  runtime    imdb_id  imdb_score  imdb_votes
0                 R      113  tt0075314         8.3    795222.0
1                PG       91  tt0071853         8.2    530877.0
2                 R       94  tt0079470         8.0    392419.0

In [19]:
df_clean = df[
    (df['imdb_id'].notna()) &
    (df['imdb_id'].astype(str).str.len() >= 7)
].copy()

df_clean['imdb_id'] = df_clean['imdb_id'].astype(str).str.strip()

In [20]:
df_clean

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
0,0,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,tt0075314,8.3,795222.0
1,1,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,tt0071853,8.2,530877.0
2,2,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,tt0079470,8.0,392419.0
3,3,tm190788,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,tt0070047,8.1,391942.0
4,4,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,tt0063929,8.8,72895.0
...,...,...,...,...,...,...,...,...,...,...,...
5278,5278,tm1040816,Momshies! Your Soul is Mine,MOVIE,Three women with totally different lives accid...,2021,NaN,108,tt14412240,5.8,26.0
5279,5279,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,tt13857480,6.9,39.0
5280,5280,tm1045018,Clash,MOVIE,A man from Nigeria returns to his family in Ca...,2021,NaN,88,tt14620732,6.5,32.0
5281,5281,tm1098060,Shadow Parties,MOVIE,A family faces destruction in a long-running c...,2021,NaN,116,tt10168094,6.2,9.0
5282,5282,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,0,tt13711094,8.8,16.0

In [23]:
movies = df_clean[df_clean["type"] == "MOVIE"]
shows = df_clean[df_clean["type"] == "SHOW"]
unknown = df_clean[~df_clean["type"].isin(["MOVIE", "SHOW"])]
print(f"Number of movies: {len(movies)}")
print(f"Number of shows: {len(shows)}")
print(f"Number of unknown: {len(unknown)}")

Number of movies: 3407
Number of shows: 1876
Number of unknown: 0