In [2]:

import pandas as pd
df = pd.read_csv("Netflix_TV_Shows_and_Movies.csv")
df_key = df[["imdb_id", "title"]].copy()
df_key.head()

     imdb_id                            title
0  tt0075314                      Taxi Driver
1  tt0071853  Monty Python and the Holy Grail
2  tt0079470                    Life of Brian
3  tt0070047                     The Exorcist
4  tt0063929     Monty Python's Flying Circus